html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
:root{
  --dark-color: #333;
  --gray-color: #666;
  --font-pc-big: 2.4rem;
  --font-pc-medium: 1.6rem;
  --font-pc-normal: 1.2rem;
  --font-pc-small: 0.8rem;

  --font-mobile-big: 1.8rem;
  --font-mobile-medium: 1.3rem;
  --font-mobile-normal: 1rem;
  --font-mobile-small: 0.8rem;
}
main {
  padding: 4px;
}

.home-link,
.home-link:active,
.home-link:focus{
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 600;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.top-splitter {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.home-heading {
  text-align: center;
  color: #000;
  font-weight: bold;
}